@import '../../stuff';

$variable: 1;
$s: #9289FE;
$storage-type: #58A8FD;
$funtion: #7AB6FF;

:root {
  --test: 10px;
}

.someClass {
  font-family: serif;
  color: var(--test);
}

#someID {
  background: yellow;
}

main {
  margin-top: 20px;
}
